The included code stub will read an integer, , from STDIN.

Without using any string methods, try to print the following:
123...n

Note that "" represents the consecutive values in between.
 e.g
 n=5

 print the string 12345.

In [4]:
if __name__ == '__main__':
    #n = int(input())
    n = 6
    
    h = [] # sets empty list
    for i in range(1,n+1):
        # adds number to the list AS a string very important
        h.append(str(i)) 
    
    # expects elements being joined to be lists
    hrr = ''.join(h)
    print(hrr)

123456

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source

Task

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

In [5]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if year % 4 == 0 and year % 100 == 0 and year % 400 == 0:
        leap = True
    
    if year % 4 == 0 and year % 100 != 0:
        leap = True
        
    
    return leap

year = int(input())
print(is_leap(year))

False



#### Task

You are given a polynomial P of a single indeterminate (or variable), x.

You are also given the values of x and k. Your task is to verify if P(x) = k.



Constraints

All coefficients of polynomial P are integers.

x and y are also integers.



Input Format

The first line contains the space separated values of x and k.

The second line contains the polynomial P.



Output Format

Print True if P(x) = K. Otherwise, print False.

Sample Input

1 4

x**3 + x**2 + x + 1

In [ ]:
x,k = map ( int , input().split())
s = input()
print (eval(s) == k)

In [ ]:
# You might need to install it first: pip install numpy
import numpy as np

# Input format would need to change
x, k = map(int, input().split())
# Input coefficients, e.g., "1 1 1 1" for x**3 + x**2 + x + 1
coefficients = list(map(int, input().split()))

# Evaluate the polynomial with the given coefficients at point x
result = np.polyval(coefficients, x)

print(result == k)

The eval() expression is a very powerful built-in function of Python. It helps in evaluating an expression. The expression can be a Python statement, or a code object.

For example:

>>> eval("9 + 5")
14
>>> x = 2
>>> eval("x + 3")
5
Here, eval() can also be used to work with Python keywords or defined functions and variables. These would normally be stored as strings.

For example:

>>> type(eval("len"))
<type 'builtin_function_or_method'>
Without eval()

>>> type("len")
<type 'str'>

Task
You are given an expression in a line. Read that line as a string variable, such as var, and print the result using eval(var).

a lot of it is reading input from line

In [ ]:
var = input()

eval(var)

You are given a spreadsheet that contains a list of  athletes and their details (such as age, height, weight and so on). You are required to sort the data based on the th attribute and print the final resulting table. Follow the example given below for better understanding.

image

Note that  is indexed from  to , where  is the number of attributes.

Note: If two attributes are the same for different rows, for example, if two atheletes are of the same age, print the row that appeared first in the input.

Input Format

The first line contains  and  separated by a space.
The next  lines each contain  elements.
The last line contains .

this is the sample input:

5 3

10 2 5

7 1 0

9 9 9

1 23 12

6 5 9

1

epected out put:
7 1 0
10 2 5
6 5 9
9 9 9
1 23 12

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    first_multiple_input = input().rstrip().split()

    n = int(first_multiple_input[0])

    m = int(first_multiple_input[1])

    arr = []

    for _ in range(n):
        arr.append(list(map(int, input().rstrip().split())))

    k = int(input().strip())
    
    arr.sort(key = lambda x:x[k])
    
    for i in arr:
        print(*i)

## SQL

Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.
The STATION table is described as follows:

![schema](resources/station_schema.jpg)

In [ ]:
'''
SELECT CITY, CHAR_LENGTH(CITY)
FROM STATION
ORDER BY CHAR_LENGTH(CITY) ASC, CITY ASC
LIMIT 1;

SELECT CITY, CHAR_LENGTH(CITY)
FROM STATION
ORDER BY CHAR_LENGTH(CITY) DESC, CITY ASC
LIMIT 1;
'''

Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

In [ ]:
'''
SELECT CITY
FROM STATION
WHERE CITY LIKE "A%" 
    OR CITY LIKE "E%" 
    OR CITY LIKE "I%"
    OR CITY LIKE "O%"
    OR CITY LIKE "U%"
'''

Query the list of CITY names ending with vowels (a, e, i, o, u) from STATION. Your result cannot contain duplicates.

In [ ]:
'''
SELECT DISTINCT(CITY)
FROM STATION
WHERE CITY LIKE "%a" 
    OR CITY LIKE "%e" 
    OR CITY LIKE "%i"
    OR CITY LIKE "%o"
    OR CITY LIKE "%u"
'''

Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. Your result cannot contain duplicates.

In [ ]:
'''
SELECT DISTINCT(CITY)
FROM STATION
WHERE LEFT(CITY,1) IN ('A','E','I','O', 'U')
    AND RIGHT(CITY,1) IN ('A','E','I','O', 'U')
'''

Query the list of CITY names from STATION that do not start with vowels. Your result cannot contain duplicates.

In [ ]:
'''
SELECT DISTINCT(CITY)
FROM STATION
WHERE LEFT(CITY,1) NOT IN ('A','E','I','O', 'U')
'''

Query the list of CITY names from STATION that either do not start with vowels or do not end with vowels. Your result cannot contain duplicates.

In [ ]:
'''
SELECT DISTINCT(CITY)
FROM STATION
WHERE LEFT(CITY,1) NOT IN ('A','E','I','O', 'U')
    OR RIGHT(CITY,1) NOT IN ('A','E','I','O', 'U')
'''